html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
    background: #0f172a;
    color: white;
    padding: 40px 0;
    margin-top: 60px;
}

    footer a {
        color: #cbd5e1;
        text-decoration: none;
    }

        footer a:hover {
            color: white;
        }

.subscribe-input {
    border-radius: 20px;
}

.join-btn {
    border-radius: 20px;
}


.destination-card img {
    height: 230px;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}