
.img1 {
    position: absolute;
    float: right;
    right: 0;
}

.nav {
    margin-left: auto;
}

    .nav li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        list-style: none;
        text-align: center;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        display: inline-block;
        position: relative;
        height: 35px;
    }

        .nav li a:hover {
            color: blue;
        }

li:last-child {
    margin-right: 0;
}

li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

li:hover:after {
    width: 100%;
    background: blue;
}
.main-heading {
    position: absolute;
    width: 524px;
    height: 433px;
    left: 161px;
    top: 125px;
}
.header-heading1 {
    position: absolute;
    width: 443px;
    height: 204px;
    left: 10px;
    top: 20px;
     font-family: 'Manrope'; 
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 125%;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #242D62;
}
.header-heading2 {
    position: absolute;
    width: 493px;
    height: 64px;
    left: 5px;
    top: 255px;
     font-family: 'Epilogue'; 
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #515B6F;
}
#header-job {
    display: flex;
    flex-direction: row;
     justify-content: center; 
    align-items: center;
    padding: 12px 24px;
    gap: 156px;
    position: absolute;
    width: 455px;
    height: 50px;
    top: 360px;
    color: #6D7394;
    background: #F1F9FE;
    border-radius: 8px;
     margin-top: 381px; 
}

.button-explore {
    display: block;
    margin-left: auto;
    margin-right: 0;
    padding: 12px 24px;
    width: 123px;
    height: 51px;
     flex: none; 
    color: white;
    background-color: #159EEC;
    border: 0;
     font-family: 'Work Sans'; 
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
    border-radius: 5px;
}
.button-green {
    margin-top: 462px;
    position: absolute;
    margin-left: -20px;
}

.green1 {
    display: inline-block;
     flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding: 8px 10px 15px 10px;
     gap: 30px; 
     float: right; 
    margin-left: 20px;
    width: 200px;
    height: 40px;
    background: #4AE9A6;
    border-radius: 4px;
    color: white;
    font-size: 20px;
}

/* Login Page */

.googleBtn {
    background-color: #fff;
    width: 375px;
    height: 42px;
    position: absolute;
    margin-left: 110px;
    position: absolute;
    margin-top: 204px;
    border: 0.1em solid grey;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-size: 14px;
}

.loginWithGoogle h2 {
    font-size: 17.5px;
    margin-left: 230px;
    position: absolute;
    margin-top: 204px;
}

.inpTxt {
    margin-left: 108px;
    width: 370px;
    height: 40px;
    margin-top: 320px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.31);
}

.inpPwd {
    margin-left: 108px;
    width: 370px;
    height: 40px;
    margin-top: 380px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.31);
}

.checkbox {
    position: absolute;
    margin-top: 440px;
    margin-left: -375px;
}

.btn {
}

.p1 {
    color: #636262;
    margin-left: 170px;
    margin-top: 100px;
    position: absolute;
}

.span {
    width: 90px;
    position: absolute;
    color: #000000;
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}
body {
    overflow: hidden;
}

.container {
    position: absolute;
    width: 750px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: #64B7F5;
}

.leftContainer {
    margin-left: 145px;
    margin-top: 70px;
    box-sizing: border-box;
    position: absolute;
    width: 609px;
    height: 600px;
    background: #FFFEFE;
    border: 1px solid #FFFFFF;
    border-radius: 81px 0px 0px 81px;
}

.rightContainer {
    position: absolute;
    width: 650px;
    height: 600px;
    margin-top: 70px;
    margin-left: 750px;
    border-radius: 0px 86px 84px 19px;
    background-color: mistyrose;
}

.logo img {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 60px;
    margin-left: 270px;
}

